marathon.apps.url=http://192.168.1.1:8080/v2/apps
marathon.groups.url=http://192.168.1.1:8080/v2/groups

docker.registry.url=http://192.168.1.1:5000
docker.registry.search.url=/v2/%s/tags/list

mongo.url=192.168.1.1:27017
mongo.db=cloud

redis.url=192.168.1.1:6379

cloud.server.url=http://192.168.1.1:8080/api
cloud.server.ipholder.url=/ipholder/%s
